<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background: rgb(244, 243, 250);
            background: linear-gradient(180deg, rgba(244, 243, 250, 1) 0%, rgba(181, 181, 181, 1) 43%, rgba(181, 181, 186, 1) 43%, rgba(102, 102, 102, 1) 100%) cover;
        }

        h2 {
            color: gray;
        }

        h3 {
            color: #979797;
        }
    </style>
</head>

<body>
    <h1>Primeira Entrega - Laboratório de Engenharia de Software</h1>
    <h2>Pablo Gabriel Rufino Barbosa - RA: 1460481821070</h2>
    <h3>Professor: Fabricio Galende Marques de Carvalho</h3>
</body>

</html>